body {
    font-family: Arial, sans-serif;
    background: linear-gradient( to right, rgb(94, 194, 201), rgb(22, 0, 69));
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.318);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container label {
    color: aliceblue;
}

h1 {
    color: #333;
    font-size: 2rem;
}
input, select, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: #0199ff 2px solid;
    text-align: center;
}
th {
    background: #3303a3;
    color: aliceblue;
}
button {
    background: #3303a3;
    color: aliceblue;
    border: none;
    cursor: pointer;


}
button:hover {
    background: #2b85e5;
    transition: 0.3s ease-in-out ;

}
.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}